.products {
    width: 100%;
    display: grid;

    justify-items: center;
    margin: 20px 0;
}

/* ------------ Product Item ----------------- */
@import url("../utils/productItem//productItem.css");